.market-overview {
  background-color: var(--black-shade-1);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 70%;
}

.chart {
  background-color: #555;
  margin-bottom: 10px;
}

.time-frame button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: white;
}

.highchart-container {
  background-color: #555;
  /* width: 50%; */
}