.home-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

.outlet-container {
  padding: 1rem;
  background: linear-gradient(to bottom, var(--black-shade-2), #22202b);
  color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.assets-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-bottom: 20px; */
  width: 25%;
  /* margin-left: 90px; */
  /* margin-right: 3rem; */
}

.total-asset-value .total-asset-value-text {
  padding-bottom: 8px;
}
.marketoverview-assets {
  display: flex;
  /* margin-top: 2rem; */
}
.transaction-operation {
  display: inline-flex;
}
