.assets-container {
  width: 25%;  
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5rem;
  /* margin-left: 2rem; */
  /* max-width: 600px; */
  color: #fff;
}



.assets-header h2 {
  margin: 0;
}

.assets-header a {
  color: #1e90ff;
  text-decoration: none;
}

.assets-header a:hover {
  text-decoration: underline;
}

.asset-item {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  background-color: var(--black-shade-1);
  color: white;
  width: 8rem;
  height: 110px; 
  margin-right: 1rem;
}

.row1{
  display: inline-flex;
  /* margin-top: 2rem; */
  padding: 5px;
}
.asset-item:last-child {
  border-bottom: none;
}

.asset-name, .asset-value {
  font-size: 16px;
}
