.operation {
  background-color: var(--black-shade-1);
  padding: 20px;
  border-radius: 15px;
  width: 18rem;
  margin-left: 1.9rem;
  margin-bottom: 25px;
}

.operation-input {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #666;
  color: white;
  cursor: pointer;
}
.heading-op {
  display: flex;
  flex-direction: column;
}

.heading-operation-header {
  /* margin: 8px 0; */
  padding-bottom: 8px;
}

.trading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-shade-1);
  border-radius: 10px;
  height: 3rem;
  border: 20px;
  background-color: black;
  padding: 0 12px;
}

.trading > div {
  color: white;
  padding: 5px;
}
.trading > div:hover {
  cursor: pointer;
  background-color: darkgray;
  border-radius: 5px;
  color: black;
}

.input {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: black;
  border-radius: 10px;
  margin-top: 5px;
}
.currency {
  background-color: #666666f0;
  padding: 5px 10px;
  border-radius: 10px;
}
.buybutton {
  margin-top: 15px;
  width: 100%;
  font-size: 1.3rem;
  background-color: var(--purple-shade-1);
  border-radius: 15px;
}

.value {
  padding-top: 1rem;
}
